body {
  margin: 2em;
}

.container-1 {
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  text-align: center;
}

.container-2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  text-align: center;
}

.container-3 {
  width: 100px;
  height: 100px;
  /* primer ejercicio
  background-color: red;*/
  background-color: lightgreen;
  color: white;
  text-align: center;
}

.container-4 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
}

.container-5 {
  width: 100px;
  height: 100px;
  background-color: orange;
  color: white;
  text-align: center;
}

.container-6 {
  width: 100px;
  height: 100px;
  background-color: brown;
  color: white;
  text-align: center;
}

.container-7 {
  width: 100px;
  height: 100px;
  background-color: green;
  color: white;
  text-align: center;
}

.container-8 {
  width: 100px;
  height: 100px;
  background-color: aqua;
  color: white;
  text-align: center;
}

.container-9 {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  color: white;
  text-align: center;
}

/*ejercicio 1
.parent {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}*/

/*ejercicio 2
.parent {
  width: 300px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(5, 100px);
}

.container-1,
.container-9 {
  grid-column: span 3;
  width: 100%;
  order: -2;
}

.container-7 {
  grid-column: span 3;
  width: 100%;
  order: -1;
}*/

/*ejercicio 3*/
.parent {
  width: 300px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(4, 100px);
}

.container-1 {
  grid-column: span 5;
  width: 100%;
}

.container-2,
.container-3 {
  grid-row: span 2;
  height: 100%;
}

.container-2,
.container-4 {
  grid-column: span 2;
  width: 100%;
}

.container-9 {
  grid-column: span 3;
  width: 100%;
}